* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: tan;
  color: orange;
  text-shadow: #000 0px 0px 2px;
}

header {
  font-size: 10vh;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: black;
  border-radius: 1vmin;
}

#board > div {
  height: 8vh;
  width: 8vh;
  background-color: #8796A9;
  border: 1px solid black;
  border-radius: 10%;
}

#button {
  padding-top: 2vh;
}